//* theme colors
$primary: #00FFF5;
$secondary: #00ADB5;
$complementer: #e0dc0c;
$triade: #c60ed1;
$textPrimary: #fafafa;
$textSecondary: #222831; // or black?
$bgPrimaryColor: #222831;
$bgSecondaryColor: #393E46;

//* font-Sizes


//* mixins
@mixin breakpoint($point) {
    @if $point == md {
        //breakpoint at 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}