@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 60vh 50vh repeat(4, auto);
    grid-template-areas:
    "nav"
    "header"
    "about"
    "skills"
    "work"
    "contact"
    "footer";
    justify-content: center;
}

.container {
    background: $textPrimary;
    width: 100vw;
    height: 100vh;
}


