@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";

.signature-box {
    width: 16rem;    
    .brand-box {
        width: 17rem;
        padding: 0 0 15px 10px;
        .firstBrandLine {
            color: $primary;
            font-weight: 500;
            .bracket {
                color: $textPrimary;
                font-size: 4.3rem;
            }
        }
        .secondBrandLine {
            color: $primary;
            font-weight: 500;
            margin: -2.4rem 0 0 1.1rem;
            .bracket {
                color: $textPrimary;
                font-size: 4.3rem;
            }
        }            
    }
    .subBrandingFlex {
        display: flex;
        justify-content: flex-end;
        margin-top: -1.9rem;
        width: 100%;
        height: 30px;
        .subBranding {
            color: $textPrimary;
            font-size: 1.5rem;
            margin-right: 1.2rem;
            .webdev {
                color: $primary;
            }
        }
    }
}

// .typewriter-text {
//     overflow: hidden;
//     position: relative;
//     // width: 18em;
//     height: 120px;
//     border-right: 2px solid rgba(255, 255, 255, 0.75);
//     animation: typewriter 3s steps(50) 1s normal both,
//                 blinkTextCursor 400ms steps(50) infinite normal;
// }

// @keyframes typewriter {
//     from {
//         width: 0; 
//     }
//     to {
//         width: 18em;
//     }
// }

// @keyframes blinkTextCursor {
//     from {
//         border-right-color: rgba(255, 255, 255, 0.75);
//     }
//     to {
//         border-right-color: transparent;
//     }
// }