@import "variables.scss";
@import "fonts.scss";

//* Header Section ================================================
.brand-container {
    grid-area: header;
    margin-top: 120px;
    position: relative;
    width: 100%;
    background: $bgSecondaryColor;
    display: flex;
    position: relative;
    height: 60vh;
    justify-content: center;
    align-items: center;
    .brand {
        z-index: 10;
    }
    .square {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 32vh;
        background: $bgPrimaryColor;
        z-index: 3;
    }
    .first-rectangle {
        position: absolute;
        top: 31.9vh;
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 25vh solid $bgPrimaryColor;
        z-index: 1;
    }
    .second-rectangle {
        position: absolute;
        top: 32vh;
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 28vh solid $secondary;
        z-index: 0;
    }
}

//* Section About ===========================================
.about {
    grid-area: about;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 80vh;
    // background: rgb(250,250,250);
    // background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(57,62,70,1) 90%);
    
    .link-container {
        position: relative;
        border: 4px solid $secondary;
        border-radius: 15px;
        width: 95vw;
        height: 50vh;
        z-index: 2;
        background-color: $bgPrimaryColor;
        transition: 0.5s;
        &:hover .txt-box {
            transform: translateY(-20px);
        }
        &:hover .txt-box button {
            background: $primary;
            color: black;
        }
        &:hover .shape-container .globe {
            opacity: 1;
            transform: translate(15%, 30px);
            
        }
        &:hover .shape-container .shape {
            background: $secondary;
        }
        .avatar {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            background: $bgPrimaryColor;
            width: 20rem;
            height: 20rem;
            overflow: hidden;
            box-shadow: 4px 4px $primary;
            z-index: 4;
            .avatar-pic {
                width: 100%;
            }
        }
        .txt-box {
            position: absolute;
            top: 10rem;
            right: 1rem;
            width: 35vw;
            padding: 1.2rem;
            border-radius: 15px;
            border: 4px solid $secondary;
            background: $bgPrimaryColor;
            z-index: 5;
            color: white;
            transition: 1s ease all;
            &:hover button {
                background: $primary;
                color: black;
            }
            .welcome {
                font-weight: 500;
                font-size: 1.4rem;
                margin-bottom: 1rem;
                color: $primary;
            }
            .brackets {
                color: white;
                font-size: 1.4rem;
            }
            button {
                margin-top: 1.4rem;
                float: right;
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: 10px;
                font-weight: 600;
                font-family: inherit;
                background: rgba($bgPrimaryColor, 0.5);
                color: $textPrimary;
                border: 1px solid $primary;
            }
        }
        .shape-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: transparent;
            // transition: 0.5s;
            overflow: hidden;
            .shape {
                width: 100%;
                height: 40%;
                border: solid 4px $primary;
                background: $primary;
                position: absolute;
                top: 8rem;
                right: 12rem;
                transform: rotate(-40deg);
                transition: 0.8s ease-in-out;
            }
            .globe {
                // position: absolute;
                transition: .8s ease-in-out;
                color: $secondary;
                width: 20%;
                height: 80%;
                opacity: 0;
                transform: translate(15%, -50px);
                
                // border: red solid 2px;
            }
        }
        
    }
    
}





// .triangle-left {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 0;
//     width: 0;
//     border-bottom: 10rem solid $textPrimary;
//     border-right: 50vw solid transparent;
// }

// .triangle-right {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     height: 0;
//     width: 0;
//     border-bottom: 10rem solid $textPrimary;
//     border-left: 50vw solid transparent;
//     // box-shadow: 4px 10px black ;
// }

// .typewriter-text {
//     overflow: hidden;
//     position: relative;
//     width: 18em;
//     border-right: 2px solid rgba(255, 255, 255, 0.75);
//     animation: typewriter 3s steps(50) 1s normal both,
//                 blinkTextCursor 400ms steps(50) infinite normal;
// }

