@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";

.brand-container {
    grid-area: brand;
    display: flex;
    position: relative;
    height: 60vh;
    background: $bgPrimaryColor;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 86%, 50% 100%, 50% 100%, 0 85%, 0% 20%);
}

// .triangle-left {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 0;
//     width: 0;
//     border-bottom: 10rem solid $textPrimary;
//     border-right: 50vw solid transparent;
// }

// .triangle-right {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     height: 0;
//     width: 0;
//     border-bottom: 10rem solid $textPrimary;
//     border-left: 50vw solid transparent;
//     // box-shadow: 4px 10px black ;
// }

// .typewriter-text {
//     overflow: hidden;
//     position: relative;
//     width: 18em;
//     border-right: 2px solid rgba(255, 255, 255, 0.75);
//     animation: typewriter 3s steps(50) 1s normal both,
//                 blinkTextCursor 400ms steps(50) infinite normal;
// }

// @keyframes typewriter {
//     from {
//         width: 0; 
//     }
//     to {
//         width: 18em;
//     }
// }

// @keyframes blinkTextCursor {
//     from {
//         border-right-color: rgba(255, 255, 255, 0.75);
//     }
//     to {
//         border-right-color: transparent;
//     }
// }