@import "variables.scss";
@import "fonts.scss";

//* Header Section ================================================
.brand-container {
    grid-area: header;
    margin-top: 120px;
    position: relative;
    width: 100%;
    background: $bgSecondaryColor;
    display: flex;
    position: relative;
    height: 60vh;
    justify-content: center;
    align-items: center;
    .brand {
        z-index: 10;
    }
    .square {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 32vh;
        background: $bgPrimaryColor;
        z-index: 3;
    }
    .first-rectangle {
        position: absolute;
        top: 31.9vh;
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 25vh solid $bgPrimaryColor;
        z-index: 1;
    }
    .second-rectangle {
        position: absolute;
        top: 32vh;
        width: 0;
        height: 0;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 28vh solid $secondary;
        z-index: 0;
    }
}

//* Section About ===========================================
.about, .skills {
    grid-area: about;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 80vh;
    // background: rgb(250,250,250);
    // background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(57,62,70,1) 90%);
    
    .link-container {
        position: relative;
        border: 4px solid $secondary;
        border-radius: 15px;
        width: 95vw;
        height: 50vh;
        z-index: 2;
        background-color: $bgPrimaryColor;
        transition: 0.5s;
        &:hover .txt-box {
            transform: translateY(-20px);
        }
        &:hover .txt-box button {
            background: $complementer;
            color: black;
            border: none;
        }
        &:hover .shape-container .globe {
            opacity: 1;
            transform: translate(15%, 30px);
            
        }
        &:hover .shape-container .shape {
            background: $secondary;
        }
        &:hover .skills-cover .html {
            position: absolute;
            // top: 20%;
            // left: 8%;
            transform: translate(-220%, -170%);
        }
        &:hover .skills-cover .css {
            position: absolute;
            // top: 20%;
            // right: 8%;
            transform: translate(120%, -170%);
        }
        &:hover .skills-cover .javascript {
            position: absolute;
            // top: 5%;
            // left: 40%;
            transform: translate(-48%, -230%);
        }
        &:hover .skills-cover .react {
            position: absolute;
            // bottom: 5%;
            // left: 42%;
            transform: translate(-40%, 135%);
        }
        &:hover .skills-cover .node {
            position: absolute;
        //     top: 45%;
        //    left: 5%;
        transform: translate(-250%, -30%);
        }
        &:hover .skills-cover .mongodb {
            position: absolute;
            // top: 45%;
            // right: 5%;
            transform: translate(135%, -30%);
        }
        &:hover .skills-cover .sass {
            position: absolute;
            width: 16%;
            // bottom: 15%;
            // right: 10%;
            transform: translate(135%, 120%);
        }
        &:hover .skills-cover .git {
            position: absolute;
            // bottom: 15%;
            // left: 10%;
            transform: translate(-200%, 110%);
        }

        .avatar {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            position: absolute;
            background: $bgPrimaryColor;
            width: 20rem;
            height: 20rem;
            overflow: hidden;
            box-shadow: 4px 4px $primary;
            z-index: 4;
            .avatar-pic {
                width: 100%;
            }
        }
        .txt-box {
            position: absolute;
            top: 10rem;
            right: 1rem;
            width: 35vw;
            padding: 1.2rem;
            border-radius: 15px;
            border: 4px solid $secondary;
            background: $bgPrimaryColor;
            z-index: 5;
            color: white;
            transition: 1s ease all;
            &:hover button {
                background: $complementer;
                color: black;
                border: none;
            }
            .welcome {
                font-weight: 500;
                font-size: 1.4rem;
                margin-bottom: 1rem;
                color: $primary;
            }
            .brackets {
                color: white;
                font-size: 1.4rem;
            }
            button {
                margin-top: 1.4rem;
                float: right;
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: 10px;
                font-weight: 600;
                font-family: inherit;
                background: rgba($bgPrimaryColor, 0.5);
                color: $textPrimary;
                border: 1px solid $primary;
            }
        }
        .shape-container {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: transparent;
            // transition: 0.5s;
            overflow: hidden;
            .shape {
                width: 100%;
                height: 40%;
                border: solid 4px $primary;
                background: $primary;
                position: absolute;
                top: 8rem;
                right: 12rem;
                transform: rotate(-40deg);
                transition: 0.8s ease-in-out;
            }
            .globe {
                // position: absolute;
                transition: .8s ease-in-out;
                color: $complementer;
                width: 20%;
                height: 65%;
                opacity: 0;
                transform: translate(15%, -50%);
                
                // border: red solid 2px;
            }
        }   
    }
    
}

.skills-cover {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: relative;
    background: $bgPrimaryColor;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    box-shadow: 4px 4px $primary;
    z-index: 4;
    
    // .laptop-box {
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    //     color: $complementer;
    //     font-size: 8rem;
    //     z-index: 2;
    // }
    // .cog-box {
    //     position: absolute;
    //     top: 27%;
    //     left: 7%;
    //     z-index: 1;
    //     color: $secondary;
    //     font-size: 5rem;
    //     animation: rotate 10s infinite linear; 
    // }
    // .branch {
    //     position: absolute;
    //     top: 27%;
    //     right: 7%;
    //     z-index: 1;
    //     color: $secondary;
    //     font-size: 5rem;
    //     animation: rotate2 10s infinite linear; 
    // }
    // .database {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     top: 54%;
    //     transform: translate(-50%, 85%);
    //     // right: 10%;
    //     z-index: 1;
    //     color: $secondary;
    //     font-size: 4.5rem;
    // }
    // .server {
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     top: 0;
    //     transform: translate(-50%, -1%);
    //     // right: 10%;
    //     z-index: 1;
    //     color: $secondary;
    //     font-size: 4.5rem;
    // }
    .code {
        position: absolute;
        width: 45%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        // display: none;
    }
    .picture {
        position: absolute;
        width: 18%;
        z-index: 5;
        left: 50%;
        top: 50%;
        transition: 0.8s;
        transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
    }
    // .html {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    // }
    // .css {
    //     position: absolute;
    //     top: 50%;
    //     right: 50%;
    // }
    // .javascript {
    //     position: absolute;
    //     top: 5%;
    //     left: 40%;
    // }
    // .react {
    //     position: absolute;
    //     bottom: 5%;
    //     left: 42%;
    // }
    // .node {
    //     position: absolute;
    //     top: 45%;
    //     left: 5%;
    // }
    // .mongodb {
    //     position: absolute;
    //     top: 45%;
    //     right: 5%;
    // }
    // .sass {
    //     position: absolute;
    //     width: 16%;
    //     bottom: 15%;
    //     right: 10%;
    // }
    // .git {
    //     position: absolute;
    //     bottom: 15%;
    //     left: 10%;
    // }
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

//TODO: place icons for skills HOME-section and animate
// @keyframes rotate2 {
//     0% {transform: rotate(0);}
//     100% {transform: rotate(-360deg);}
// }


// .triangle-left {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 0;
//     width: 0;
//     border-bottom: 10rem solid $textPrimary;
//     border-right: 50vw solid transparent;
// }

// .triangle-right {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     height: 0;
//     width: 0;
//     border-bottom: 10rem solid $textPrimary;
//     border-left: 50vw solid transparent;
//     // box-shadow: 4px 10px black ;
// }

// .typewriter-text {
//     overflow: hidden;
//     position: relative;
//     width: 18em;
//     border-right: 2px solid rgba(255, 255, 255, 0.75);
//     animation: typewriter 3s steps(50) 1s normal both,
//                 blinkTextCursor 400ms steps(50) infinite normal;
// }

