@import "variables.scss";

.header {
    grid-area: nav;
    background: $secondary;
    height: 120px;
    width: 100%; 
    padding: 0 1.5rem;
    position: fixed; //TODO: fixing Navbar
    z-index: 100;
    @include breakpoint(md) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;
    .headerContent {
        overflow: hidden;
        color: $textPrimary;
        max-width: 1920px;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;
        .headerContentLogo {
            font-size: 2rem;
            font-weight: 400;
            text-decoration: none;
            color: $textPrimary;
        }
        .headerContent {
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(black, 0.8);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transform;
            
            @include breakpoint(md) {
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }
            ul {
                list-style: none;
                // padding: 0;
                display: flex;
                flex-direction: column;
                margin-bottom: 32px;
                // z-index: 300;
                @include breakpoint(md) {
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{16px})
                }
                li {
                    &:not(:last-child) {
                        margin-bottom: 32px;
                        @include breakpoint(md) {
                            margin-bottom: 0;
                            margin-right: 16px;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem 1.25rem;
                        border-radius: 12px;
                        transition: 0.3s ease all;

                        &:hover {
                            background: rgba($bgPrimaryColor, 0.1);
                        }
                        &:active {
                            border-radius: calc(#{12px} + 6px);
                            background: linear-gradient(rgba($bgPrimaryColor, 0.1), rgba($bgSecondaryColor, 0.2));
                        }
                    }
                }
            }
            button {
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: 10px;
                font-size: 1rem;
                font-family: inherit;
                background: rgba($bgPrimaryColor, 0.5);
                color: $textPrimary;
                border: 1px solid transparent;
                transition: 0.3s ease all;

                &:hover {
                    border-color: $primary;
                    background: rgba($bgSecondaryColor, 0.1);
                    // color: $primary;
                }
                &:active {
                    border-color: black;
                    background: linear-gradient(rgba(black, 0.2), rgba(black, 0.3));
                    color: black;
                }
            }

            &.isMenu {
                transform: translate(100%);
            }
        }

        .headerContentToggle {
            cursor: pointer;
            // display: flex;
            // align-items: center;
            // right: 2.1rem;
            // font-size: 2rem;
            // display: inline-block;
            transition: 0.3s ease all;
            position: relative;
            z-index: 200;
            .bar1, .bar2, .bar3 {
                width: 25px;
                height: 2.5px;
                background-color: $textPrimary;
                margin: 5px 0;
                transition: 0.4s;
            }
            .hamburgerChange .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            .hamburgerChange .bar2 {
                opacity: 0;
            }
            .hamburgerChange .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }

            @include breakpoint(md) {
                display: none;
            }
        }
    }
}

